[project]
	description = A messenger app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PranayVJain
[access "refs/for/refs/*"]
	read = group user/PranayVJain
	push = group user/PranayVJain
	label-Code-Review = -2..+2 group user/PranayVJain
	label-Verified = -1..+1 group user/PranayVJain
	rebase = group user/PranayVJain
	removeReviewer = group user/PranayVJain
	submit = group user/PranayVJain
[access "refs/heads/*"]
	read = group user/PranayVJain
	create = group user/PranayVJain
	push = +force group user/PranayVJain
	pushMerge = group user/PranayVJain
[access "refs/tags/*"]
	push = group user/PranayVJain
	push = +force group user/PranayVJain
